*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $fg-color;
  background-color: $bg-color;
  font-family: $font-family;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.8em;

  @media only screen and (max-width: 768px) {
    font-size: 1.6em;
    line-height: 1.6em;
  }
}

a {
  font-weight: 500;
  color: $link-color;
  text-decoration: none;
  transition: all 0.25s ease-in;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 1rem 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 600;
  color: $alt-fg-color;
  margin: 2rem 0 2rem 0;

  &:hover .heading-link {
    visibility: visible;
  }

  .heading-link {
    color: $link-color;
    font-weight: inherit;
    text-decoration: none;
    font-size: 80%;
    visibility: hidden;
  }

  .title-link {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
    line-height: 3.4rem;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;

  @media only screen and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.6rem;

  @media only screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2.4rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

h6 {
  font-size: 1.8rem;
  line-height: 2.2rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 70%;
}


.highlight>div,
.highlight>pre {
  margin: 2rem 0 2rem;
  padding: 1rem;
  padding-top: 3.5rem;
  border-radius: 1rem;
  background-color: $code-bg-color-dark !important;
  position: relative;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);

  &::before {
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: #ff5f56;
    box-shadow: 1.5rem 0 0 #ffbd2e, 3rem 0 0 #27c93f;
    z-index: 10;
  }
}

pre {
  display: block;
  font-family: $code-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  white-space: pre;
  overflow-x: auto;
  margin: 0;
  position: relative;
  
  &::-webkit-scrollbar {
    height: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  code {
    display: inline-block;
    background-color: inherit;
    color: inherit;
  }

  .copy-code {
    display: none;
    padding: 0.5rem;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    color: #abb2bf;
    background: transparent;
    user-select: none;
    border: 0;
    border-radius: 0.5rem;
    transition: all 0.2s;
    line-height: 0;
  }
}

.copy-code:hover,
.copy-code:focus,
.copy-code:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}


div.highlight:hover .copy-code,
pre:hover .copy-code {
  display: block;
}

code {
  font-family: $code-font-family;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: $font-highlight-bg-color;
  color: $font-highlight-color;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
}

blockquote {
  border-left: 3px solid $gray-800 !important;
  padding-left: 2rem;
  font-weight: 400;
  font-size: larger;
  margin-inline-start: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  word-break: keep-all;
  margin: 0 auto 3rem auto;
  display: block;
}

table th,
table:not(.highlighttable, .highlight table, .gist .highlight) td {
  padding: 1rem 1rem;
  line-height: 1.5;
  border-bottom: 1px dashed $gray-400;
}

table th {
  font-size: 1.5rem;
  text-align: start;
  border-bottom: 1px solid $gray-400;
}

img {
  max-width: 100%;
}