{{/* 取最近的 N 篇文章，这里我写 5 篇，你可以改成你想要的数量 */}}
{{ $recent := first 20 (where .Site.RegularPages "Type" "post" | sort "Date" "desc") }}

{{ if gt (len $recent) 0 }}
<h2>{{- i18n "recent_posts" -}}</h2>
{{ end }}
<div class="featured-list">
    {{ range $recent }}
    <article class="featured-single">
        <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        {{ partial "blog/meta.html" . }}
        {{ with .Description }}
        <p class="desc">{{ . }}</p>
        {{ end }}
    </article>
    {{ end -}}
</div>
