{{ if .Site.Params.comments.giscus.enable }}
<div class="giscus">
<script src="https://giscus.app/client.js"
    data-repo="Wh1teJ0ker/wh1tej0ker.github.io"
    data-repo-id="R_kgDOMbVXlA"
    data-category="Announcements"
    data-category-id="DIC_kwDOMbVXlM4CovNt"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
</script>
</div>
{{ end }}
